.contact {
  margin-top: 15%;
  height: 930px;
  justify-content: flex-start;
  .contact-img {
    background-image: url("../../assets/Background-Contact-Form.jpg");
    width: 65%;
    opacity: 0.2;
    background-position: center;
    background-position-x: -50px;
  }
  .contact-form{
    width: 25%;
    color: $textColor;
    .cnt {
      margin-bottom: 120px;
      h1 {
        font-size: 35px;
        text-align: center;
        margin-top: 20%;
        font-weight: 200;
        margin-bottom: 10%;
      }

      .decoration {
        left: 69%;
        margin-bottom: 20px;
      }
    }
  }
  .form{
    flex-direction: column;
    .nameEmail {
      label {
        font-size: 0.9rem;
        font-weight: bolder;
        width: 400px;
      }
      input {
        margin-top: 20px;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        border-bottom-color: $textColor;
        border-bottom-width: 1px;
      }
      .description {
        padding: 40px;
        padding-bottom: 50px;
      }
    }
    .btn {
      margin-top: 30px;
      width: 30%;
      margin-left: 250px;
      font-size: 1.1rem;
      background-color: transparent;
      border: .7px solid $textColor;
      padding: 10px;
    }
    .message{
      margin-top: 20px;
      flex-direction: column;
      font-weight: 200;
      color: $textColor;
      textarea{
        margin-top: 20px;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        border-bottom-color: $textColor;
        border-bottom-width: 1px;
      }
    }
  }
}