.menu{
  top: 15px;
  right: 0;
  margin-right: 10%;
  width: 50%;
  .logUl{
    height: 20px;
  }
  .scrollList{
    .li{
      .ScrollLink {
        font-size: 15px;
        padding-right: 15px;
        height: 10px;
      }
    }
  }
}
.link {
  color: black;
  text-decoration: none;
  font-size: 14px;
  float: right;
  padding-right: 15%;
  height: 20px;
  margin-bottom: 30px;
}
