.headArticle{
  height: 900px;
  width: 100%;
  .pcs{

    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-position-x: -500px;
    background-position-y: -50px;
    width: 50%;
  }
  .rscontainer{
    h1{
      font-size: 35px;
      color: $textColor;
      text-align: center;
      margin-top: 30%;
      line-height: 55px;
    }
    .decoration{
      top: 460px;
      left: 60%;
    }
    .header_buttons{
      position: absolute;
      left: 50%;
      top: 60%;
     .btn{
       border: 1.2px solid $textColor;
       width: 260px;
       padding: 5% 0 5% 0;
       margin-right: 60px;
       text-align: center;
       .link{
         font-size: 27px;
         color: $textColor;
         text-align: center;

         text-transform: uppercase;
       }
     }
    }

  }
}