.log {
  display: flex;
  color: $textColor;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 1.1rem;
  padding-top: 0.5rem;
}
.decoration{
  left: 44%;
  top: 30%
}
.form__log {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;

  &--padding {
    padding: 2rem;
    margin: 50px 600px 0 600px;
    background-color: lightgray;
  }

  &--top{
    padding: 1rem 0 1rem 0;
  }

  &--style {
    border: none;
    border-bottom: 0.16rem solid grey;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

  }

  &--space {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }

  &--move{
    margin-right: 5rem;
  }

  h2{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    padding-bottom: 1.3rem;
  }
}

.form__submit{
  margin-left: 5rem;
}