.simpleSteps{

  h1{
    padding-top: 5%;
    margin-bottom: 1%;
    font-size: 40px;
    text-align: center;
    color: $textColor;
  }
  .decoration{
    left: 42%;
  }
}
.steps{
  background-color: $BackgroundSimpleSteps;
  height: 300px;
  margin-top: 4%;

.steps-container{
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
.step{
  width: 130px;
  text-align: center;
  margin-top: 76px;
  margin-bottom: 71px;
  color: $textColor;
  position: relative;
  .line{
    margin-top: -18px;
    width: 70px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 70%;
    left: 23%;
  }
  .twwo{
    margin-top: 1px;
  }
  .things{
  margin-top: 24px;
  }
  .two{
    margin-top: 40px;
  }
}
}
}
.button{
  margin-top: 4%;
  position: absolute;
  right: 45%;
.link{
  font-size: 36px;
  color: $textColor;
  text-decoration: none;
  text-align: center;
  border: 1px solid $textColor;
  padding: 30px;
}}